body {
  margin: 5px;
  background-color: rgb(0,0,0);
  font-family: arial, sans-serif;
  font-size: 14px;
}

.eintrag { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(255,250,220); 
}

.eintragalt { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(255,250,220); 
}

.eintragneu { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(255,220,220); 
}

.eintragtodo0 { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(220,250,220); 
}

.eintragtodo1 { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(200,250,200); 
}

.eintragtodo2 { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(180,250,180); 
}

.eintragtodo3 { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(160,250,160); 
}

.eintragtodo4 { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(140,250,140); 
}

.eintragtodo5 { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(120,250,120); 
}

.eintragtodo6 { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(250,120,120); 
}

.eintragtodo7 { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(250,100,100); 
}

.eintragtodo8 { 
  margin: 15px;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color:yellow; 
}

.eintragtodo9 { 
  margin: 15px;
  border: 3px solid yellow;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: red; 
}
.kopf { 
  column-count: 1;
	margin: 5px;
  	border: 1px solid blue;
  	border-radius: 10px;
  	box-shadow: 3px 3px;
  	shadow-color: #1854a2;
    background-color: #2874b2;
    height: 99%;
}
.fett {
  font-size: 2em;
  font-style: initial;
  color: rgb(255,120,120);
}
.ueberschrift { 
  color: rgb(255,250,220);
  margin-left: 15px;
  margin-right: 5px;
  font-size: 22px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 1px;
 }
.ueberschrift2 { 
  color: rgb(255,250,120);
  margin-left: 15px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 1px;
 }
.zeit { 
  color: rgb(22,22,33);
  margin-left: 15px;
  margin-right: 5px;
  font-size: 8px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 1px;
 }

.titel { 
  color: rgb(22,22,33);
  margin-left: 15px;
  margin-right: 5px;
  font-size: 22px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 1px;
 }
.ort {
  color: red;
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
 }
.beschreibung {
  color: blue;
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 5px;
 }

.entschuldigung { 
  margin: 15px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 3px 3px;
  background-color: rgb(255,250,220); 
}
